@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}

.page-container {
  width: 1200px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

button.button {
  font-family: inherit;
}

.button {
  border-radius: 4px;
  padding: 8px 50px;
  background-color: #756157;
  color: #ffffff;
  border: none;
}

/* Header */
.header {
  z-index: 1;
  margin-bottom: -6px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;
  display: block;
  padding: 20px 16px;
}

.navigation-link-current {
  margin-bottom: -20px;
}

.navigation-link-current::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #756257;
  height: 2px;
  margin-top: 20px;
}

.navigation {
  width: 1020px;
  margin: auto;
  display: flex;
}

.navigation-item {
  align-self: center;
}

.navigation-list {
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  width: 268px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  display: block;
  padding: 32px 22px;
}

.navigation-user .navigation-item:last-child {
  margin-left: auto;
}

.navigation-item-search .navigation-link {
  background-image: url("../images/header/search.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-item-favourite .navigation-link {
  background-image: url("../images/header/favourite.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.navigation-item-favourite .navigation-link::before {
  position: absolute;
  content: "12";
  display: flex;
  color: #ffffff;
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  padding: 5px;
  border-radius: 50%;
  top: 19%;
  right: 5%;
}

.navigation-link.button {
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #ffffff;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

.header-logo {
  margin-right: 30px;
}

/* Main */
.main-container {
  flex-grow: 1;
}

/* Hero */
.hero {
  background-image: url("../images/hero/divider.svg"), url("../images/hero/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: bottom;
  background-color: rgba(131, 179, 211, 0.474);
  padding-top: 52px;
  padding-bottom: 82px;
}

.hero-text {
  display: block;
  margin: auto;
}

/* Section */
.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

/* Advantages */
.advantages-header {
  padding: 69px 0;
  margin-bottom: 21px;
}

.advantages-title {
  width: 620px;
  margin: auto;
  margin-bottom: 25px;
}

.advantages-text {
  width: 651px;
  margin: auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  width: 175px;
  margin: auto;
}

.advantages-item-title::after {
  content: "";
  margin: 30px auto;
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages-item.brightblue-background > .advantages-item-title::after {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  margin: auto;
}

.advantages-item-image {
  display: block;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px;
}

.advantage-image {
  padding: 0;
}

.advantage-image-1 {
  grid-column: 2 / 4;
}

.advantage-image-2 {
  grid-column: 1 / 3;
}

.darkblue-background {
  background-color: rgba(131, 179, 211, 0.2);
}

.brightblue-background, .brightblue-background>h3, .brightblue-background, .brightblue-background>h3 {
  color: #ffffff;
  background-color: #82B3D3;
}

/* Services */
.services-header {
  padding: 64px 0;
}

.services-title {
  width: 505px;
  margin: auto;
  margin-bottom: 20px;
}

.services-text {
  text-align: center;
  width: 490px;
  margin: auto;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  padding: 182px 85px 80px 85px;
}

.services-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  width: 230px;
  margin: auto;
  margin-bottom: 30px;
}

.services-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  margin: auto;
}

.services-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-home {
  background-image: url("../images/services/home.svg");
  background-repeat: no-repeat;
  background-position: 50% 80px;
  background-size: 75px 72px;
}

.services-item-food {
  background-image: url("../images/services/food.svg");
  background-repeat: no-repeat;
  background-position: 50% 80px;
  background-size: 75px 72px;
}

.services-item-souvenir {
  background-image: url("../images/services/souvenir.svg");
  background-repeat: no-repeat;
  background-position: 50% 80px;
  background-size: 75px 72px;
}

/* Search */
.search {
  padding: 96px 0;
}

.search-title {
  width: 297px;
  margin: auto;
  margin-bottom: 20px;
}

.search-description {
  text-align: center;
  width: 592px;
  margin: auto;
  margin-bottom: 54px;
}

.search-link.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.search-link {
  margin: auto;
  padding: 8px 50px;
  width: 376px;
  box-sizing: border-box;
  display: block;
}

/* Subscribe */
.subscribe {
  color: #ffffff;
  background-image: url("../images/subscribe/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #756157;
  padding: 96px 0 104px 0;
}

.subscribe-title {
  color: #ffffff;
  width: 404px;
  margin: auto;
  margin-bottom: 20px;
}

.subscribe-description {
  text-align: center;
  width: 475px;
  margin: auto;
  margin-bottom: 54px;
}

.subscribe-form {
  margin: auto;
  width: 684px;
  display: flex;
}

.subscribe-form-input {
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #F2F2F2;
  font-family: inherit;
}

.subscribe-form-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
}

/* Catalog */
.main-catalog-inner {
  background-image: url("../images/catalog/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82B3D3;
}

.container {
  width: 1060px;
  margin: auto;
  padding: 35px 0 70px 0;
  display: flex;
  flex-direction: column;
}

.catalog-header {
  color: #ffffff;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  align-self: center;
}

.catalog-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-container {
  width: 1060px;
  margin: auto;
}

.catalog-products-view {
  display: flex;
  align-items: center;
}

.filter {
  color: #ffffff;
}

.filter-form {
  display: flex;
}

.filter-group {
  width: 151px;
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-group:first-of-type {
  margin-right: 70px;
}

.filter-group:last-of-type {
  margin-left: 140px;
  width: 288px;
}

.filter-group > legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.filter-item {
  margin-bottom: 16px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filter-label {
  font-size: 18px;
  line-height: 23px;
}

.filter-group:last-of-type .filter-label {
  line-height: 24px;
  text-align: right;
}

.filter-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.filter-inputs label {
  position: relative;
}

.filter-inputs input {
  width: 143px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
}

.filter-inputs label:first-child input {
  border-radius: 4px 0 0 4px;
}

.filter-inputs label:last-child input {
  border-radius: 0 4px 4px 0;
}

.filter-inputs span {
  position: absolute;
  color: #000000;
  opacity: 0.3;
  right: 20px;
  top: 13px;
}

.filter-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  width: 191px;
  margin-left: auto;
  margin-top: 56px;
}

.filter-button[type="submit"] {
  background-color: #82B3D3;
  margin-bottom: 32px;
}

.filter-button[type="reset"] {
  background-color: transparent;
}

.catalog-search-result, .catalog-items-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-search-result {
  width: 338px;
  margin-right: 200px;
}

.select-control {
  width: 292px;
  height: 49px;
  border: solid 2px #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;
}

.select-control > option[value] {
  font-size: 18px;
  line-height: 21px;
}

.card-view-list {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
}

.card-view-button {
  min-width: 16px;
  min-height: 14px;
  padding: 22px 22px;
  background-position: 50%;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: transparent;
}

.card-view-button.current {
  border-color: #000000;
}

.card-view-item:first-child > .card-view-button {
  background-image: url("../images/catalog/view-table.svg");
  background-repeat: no-repeat;
}

.card-view-item:nth-child(2) > .card-view-button {
  background-image: url("../images/catalog/view-slideshow.svg");
  background-repeat: no-repeat;
}

.card-view-item:last-child > .card-view-button {
  background-image: url("../images/catalog/view-list.svg");
  background-repeat: no-repeat;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.catalog-card {
  width: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: solid 1px #E6E6E6;
  border-radius: 4px;
  gap: 16px;
}

.catalog-card > p {
  margin: 0;
}

.catalog-card-image {
  display: block;
  width: 100%;
}

.catalog-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.catalog-card-link {
  color: #000000;
  text-decoration: none;
}

.catalog-card-description {
  display: flex;
  justify-content: space-between;
}

.catalog-card-housing-type, .catalog-card-price {
  font-size: 18px;
  line-height: 21px;
}

.catalog-card-price {
  text-align: right;
}

.catalog-card-price b {
  font-weight: 400;
}

.catalog-card-buttons {
  display: flex;
  justify-content: space-between;
}

.catalog-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

a.catalog-card-button {
  text-decoration: none;
  padding: 8px 26px;
}

button.catalog-card-button {
  background-color: #82B3D3;
  padding: 8px 20px;
}

button.catalog-card-button-favourite {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.catalog-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
  padding: 9px 23px;
  width: 140px;
  border-radius: 4px;
}

.stars {
  display: flex;
  justify-content: flex-end;
  background-image: url("../images/catalog/star.svg"), url("../images/catalog/star.svg"), url("../images/catalog/star.svg"), url("../images/catalog/star.svg"), url("../images/catalog/star.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 0, 9%, 18%, 27%, 36%;
}

.stars-2 {
  background-position: 0, 9%, 0, 0, 0;
}

.stars-3 {
  background-position: 0, 9%, 18%, 0, 0;
}

.stars-4 {
  background-position: 0, 9%, 18%, 27%, 0;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* .pagination::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E6E6E6;
  margin-bottom: 40px;
}
 */
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.main-catalog > .subscribe, .main-catalog > .subscribe > .subscribe-title {
  color: #000000;
  background: none;
}

/* Footer */
.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.footer-link {
  text-decoration: none;
  width: 331px;
}

.footer-container {
  width: 1060px;
  margin: 0 auto;
  padding: 40px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
}

.footer-social-link {
  padding: 0 10px;
  display: flex;
}
