@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}

.page-container {
  width: 1200px;
  margin: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

button.button {
  font-family: inherit;
}

/* Header */
.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;
  padding: 8px 34px;
}

.navigation-link.button {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}

.navigation {
  width: 1020px;
  margin: auto;
  display: flex;
}

.navigation-list {
  width: 500px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  width: 268px;
  margin-left: auto;
}

.header-logo {
  margin-right: 30px;
}

/* Main */
.main-container {
  flex-grow: 1;
}

/* Hero */
.hero {
  background-image: url("../images/hero/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(131, 179, 211, 0.474);
}

.hero-text {
  display: block;
  margin: auto;
}

/* Section */
.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

/* Advantages */
.advantages-title {
  width: 620px;
  margin: auto;
}

.advantages-text {
  width: 651px;
  margin: auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  width: 175px;
  margin: auto;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  margin: auto;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:first-child, .advantages-item:first-child>h3, .advantages-item:last-child, .advantages-item:last-child>h3 {
  color: #ffffff;
  background-color: #82B3D3;
}

/* Services */
.services-title {
  width: 505px;
  margin: auto;
}

.services-text {
  text-align: center;
  width: 490px;
  margin: auto;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  width: 230px;
  margin: auto;
}

.services-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  margin: auto;
}

.services-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Search */
.search-title {
  width: 297px;
  margin: auto;
}

.search-description {
  text-align: center;
  width: 592px;
  margin: auto;
}

.search-link.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

.search-link {
  margin: auto;
  padding: 8px 50px;
  width: 376px;
  box-sizing: border-box;
  display: block;
}

/* Subscribe */
.subscribe {
  color: #ffffff;
  background-image: url("../images/subscribe/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #756157;
}

.subscribe-title {
  color: #ffffff;
  width: 404px;
  margin: auto;
}

.subscribe-description {
  text-align: center;
  width: 475px;
  margin: auto;
}

.subscribe-form {
  margin: auto;
  width: 684px;
}

.subscribe-form-input {
  font-size: 18px;
  line-height: 24px;
}

.subscribe-form-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  box-sizing: border-box;
  padding: 8px 50px;
}

/* Catalog */
.main-catalog-inner {
  background-image: url("../images/catalog/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82B3D3;
}

.container {
  width: 1060px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.catalog-header {
  color: #ffffff;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-container {
  width: 1060px;
  margin: auto;
}

.catalog-products-view {
  display: flex;
}

.filter {
  color: #ffffff;
}

.filter-form {
  display: flex;
}

.filter-group {
  width: 151px;
  margin: 0;
  padding: 0;
}

.filter-group:first-of-type {
  margin-right: 70px;
}

.filter-group:last-of-type {
  margin-left: 140px;
  width: 290px;
}

.filter-group > legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-label {
  font-size: 18px;
  line-height: 23px;
}

.filter-group:last-of-type .filter-label {
  line-height: 24px;
  text-align: right;
}

.filter-group:last-of-type .catalog-filter-input[value] {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.filter-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 8px 50px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  width: 191px;
  margin-left: auto;
}

.filter-button[type="submit"] {
  background-color: #82B3D3;
}

.filter-button[type="reset"] {
  background-color: transparent;
}

.catalog-search-result, .catalog-items-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-search-result {
  width: 338px;
  margin-right: 200px;
}

.select-control {
  width: 292px;
}

.select-control > option[value] {
  font-size: 18px;
  line-height: 21px;
}

.card-view-list {
  width: 160px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.catalog-card {
  width: 340px;
}

.catalog-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.catalog-card-link {
  color: #000000;
  text-decoration: none;
}

.catalog-card-housing-type, .catalog-card-price {
  font-size: 18px;
  line-height: 21px;
}

.catalog-card-price {
  text-align: right;
}

.catalog-card-price b {
  font-weight: 400;
}

.catalog-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

a.catalog-card-button {
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
  border: none;
  padding: 8px 26px;
}

button.catalog-card-button {
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  padding: 8px 20px;
}

button.catalog-card-button-favourite {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.catalog-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.main-catalog > .subscribe, .main-catalog > .subscribe > .subscribe-title {
  color: #000000;
  background: none;
}

/* Footer */
.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.footer-link {
  text-decoration: none;
  width: 331px;
}

.footer-container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  width: 142px;
  margin: 0;
  padding: 0;
}
